* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    
}


@media screen and (min-width:320px) {
    .container {
        width: 320px;
    }
    
    @media screen and (min-width:768px) {
        .container {
            width: 768px;
        }
    }

    @media screen and (min-width:1200px) {
        .container {
            width: 1200px;
        }
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
    }
}

.title-page {
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
}

.maxin-lox {
    color: #2B7FFF;
}

.pbox {
    position: relative;
    width: Hug (709px);
    height: Hug (456px);
    top: 600px;
    left: 0px;
    gap: 40px;
}

.p1 {
    width: 709px;
    height: 76px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #011C44;
}

.p2 {
    position: absolute;
    width: 709px;
    height: 152px;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    top: 300px;
}

.denisloh {
    font-weight: 600;
}

.nav-link {
    color: #011C44;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.nav-list:hover .nav-link {
    color: #2B7FFF;
    font-weight: 700;
}

.header-social-network-item {
    display: flex;
    gap: 32px;
}

.nav-item {
    display: flex;
    gap: 56px;
}

.haeder-content {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:320px) {
    .nav-item {
        display: none;
    }

    .haeder-content {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .nav-item {
        display: block;
    }

    .haeder-content {
        display: block;
    }
}

@media screen and (min-width:1200px) {
    .nav-item {
        display: flex;
        flex-direction: column;
    }
}